
    <header>
        <h1>
            <img height="42" width="42" src="{{ logo }}"/>
            {{ name }}
        </h1>
        <hr>
    </header>

    <footer>
        <hr>
        {{ footer }}
    </footer>