/.web-server-pid
/app/config/jwt/*
/app/Resources/translations/*.xlf
!/app/Resources/translations/*.en.xlf
/docker-compose.yml
/build/
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/bundles/
.DS_Store
.env

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

# PHP CS
.phpcs-cache
.php_cs.cache
phpcs.xml

# generated system version
/web/build_info.json

# IDE
/.idea/

#Visual Studio
.vscode*

/var/imports/*

# PHP Unit local resutls
.phpunit.result.cache
