/.web-server-pid
/app/config/parameters.yml
/app/config/jwt/*
/docker-compose.yml
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/bundles/
.DS_Store

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

# PHP CS
.phpcs-cache
.php_cs.cache
phpcs.xml

# generated system version
/web/build_info.json

# IDE
/.idea/

# Docker
/docker-compose.yml

#Visual Studio
.vscode*

/var/imports/*