version: '3.7'

volumes:
    mysqldata:

networks:
    backend:
        external: false
    database:
        external: false
    pma:
        external: false

services:
    db:
        image: mysql:8.0
        command:
            - '--character-set-server=utf8mb4'
            - '--collation-server=utf8mb4_unicode_ci'
            - '--log_bin_trust_function_creators=1'
            - '--cte_max_recursion_depth=100000'
        volumes:
            - mysqldata:/var/lib/mysql
        networks:
            - database
            - pma
        environment:
            MYSQL_ROOT_PASSWORD: 'fg!s%qdsfv'
            MYSQL_DATABASE: bms
            MYSQL_USER: bms_user
            MYSQL_PASSWORD: aA123

    php:
        build:
            dockerfile: docker/dev/php/Dockerfile
            context: .
        image: build_image
        depends_on:
            - db
        volumes:
            - ./app/config/parameters.yml:/var/www/html/app/config/parameters.yml
        #    - ./docker/dev/php/php.ini:/usr/local/etc/php/conf.d/99-overrides.ini
        networks:
            - backend
            - database

    phpmyadmin:
        image: phpmyadmin/phpmyadmin
        ports:
            - 8081:80
        networks:
            - pma
        volumes:
            - ./docker/dev/phpmyadmin/config.user.inc.php:/etc/phpmyadmin/config.user.inc.php

    nginx:
        image: nginx
        ports:
            - 8087:80
        depends_on:
            - php
        volumes:
            - .:/var/www/html
            - ./docker/dev/nginx/nginx.conf:/etc/nginx/conf.d/default.conf
        networks:
            - backend
