{# app/Resources/views/Emails/logs_transaction.html.twig #}
<h3>{{ user }},</h3>

<p>You will find attached the log file for {{ userRequested }}. This includes all requests made by this user on the platform related to creating, editing or deleting data.</p>
