{# app/Resources/views/Emails/logs_transaction.html.twig #}
<h3>{{ user }},</h3>

<p>There are no logs from {{ userRequested }}. This user has not yet used the platform to create, edit or delete data.</p>
