files:
    "/etc/cron.d/cron_reporting":
        mode: "000644"
        owner: root
        group: root
        content: |
            45 11 8 * * root /usr/local/bin/load_reporting.sh
    "/usr/local/bin/load_reporting.sh":
        mode: "000755"
        owner: root
        group: root
        content: |
            #!/bin/bash
            date > /tmp/date
            php /var/app/current/bin/console reporting:data-indicator:add
            exit 0
            
commands:
    01_remove_old_cron:
        command: "rm -f /etc/cron.d/*.bak; rm -f /etc/cron.d/mycron"