container_commands:
  01_migrate:
    command: php bin/console doctrine:migrations:migrate --env=prod --no-debug --no-interaction
    leader_only: true
  02_clearcache:
    command: php bin/console cache:clear --env=prod --no-debug --no-warmup
  03_cache-permissions:
    command: HTTPDUSER=$(ps axo user,comm | grep -E '[a]pache|[h]ttpd|[_]www|[w]ww-data|[n]ginx' | grep -v root | head -1 | cut -d\   -f1); echo $HTTPDUSER
  04_cache-permissions:
    command: setfacl -dR -m u:"$HTTPDUSER":rwX -m u:$(whoami):rwX var; echo $(whoami)
  05_cache-permissions:
    command: setfacl -R -m u:"$HTTPDUSER":rwX -m u:$(whoami):rwX var; ls -la var/cache
