parameters:
    database_driver: pdo_mysql
    database_host: '%env(RDS_HOSTNAME)%'
    database_port: '%env(RDS_PORT)%'
    database_name: '%env(RDS_DB_NAME)%'
    database_user: '%env(RDS_USERNAME)%'
    database_password: '%env(RDS_PASSWORD)%'

    mailer_transport: smtp
    mailer_host: email-smtp.eu-west-1.amazonaws.com
    mailer_user: '%env(SES_USERNAME)%'
    mailer_password: '%env(SES_PASSWORD)%'
    mailer_port: 587
    mailer_encryption: tls

    secret: ThisTokenIsNotSoSecretChangeIt
    aws_access_key_id: '%env(AWS_ACCESS_KEY)%'
    aws_secret_access_key: '%env(AWS_SECRET_KEY)%'
    aws_s3_region: eu-central-1
    aws_s3_bucket_name: files-testing.bmstaging.info
    humanitarian_secret: '%env(HID_SECRET)%'
    google_client: '%env(GOOGLE_CLIENT)%'

    mobile_app_master_key: '%env(MOBILE_MASTER_KEY)%'
    mobile_app_version: '%env(MOBILE_APP_VERSION)%'
    mobile_app_id: '%env(MOBILE_APP_ID)%'

    jwt_passphrase: '%env(JWT_PASSPHRASE)%'

    gelf_server_name: '%env(GELF_SERVER_NAME)%'
    gelf_host: '%env(GELF_HOST)%'
    gelf_port: '%env(GELF_PORT)%'

    #TODO refactor parameters names in whole system
    aws.logs.key: '%env(AWS_LOGS_ACCESS_KEY)%'
    aws.logs.secret: '%env(AWS_LOGS_SECRET_KEY)%'
    aws.logs.region: 'eu-central-1'
    aws.logs.version: 'latest'
    aws.logs.bucket: 'logs.humansis.org'
    aws.logs.folder: 'logs'
