
parameters:
    database_driver: pdo_mysql
    database_host: '%env(RDS_HOSTNAME)%'
    database_port: '%env(RDS_PORT)%'
    database_name: '%env(RDS_DB_NAME)%'
    database_user: '%env(RDS_USERNAME)%'
    database_password: '%env(RDS_PASSWORD)%'

    mailer_transport: smtp
    mailer_host: email-smtp.eu-west-1.amazonaws.com
    mailer_user: '%env(SES_USERNAME)%'
    mailer_password: '%env(SES_PASSWORD)%'
    mailer_port: 587
    mailer_encryption: tls
    secret: ThisTokenIsNotSoSecretChangeIt

    khm_wing_api_username: thirdParty
    khm_wing_api_password: ba0228f6e48ba7942d79e2b44e6072ee
