
parameters:
    database_driver: pdo_mysql
    database_host: '%env(RDS_HOSTNAME)%'
    database_port: '%env(RDS_PORT)%'
    database_name: '%env(RDS_DB_NAME)%'
    database_user: '%env(RDS_USERNAME)%'
    database_password: '%env(RDS_PASSWORD)%'

    mailer_transport: smtp
    mailer_host: email-smtp.eu-west-1.amazonaws.com
    mailer_user: '%env(SES_USERNAME)%'
    mailer_password: '%env(SES_PASSWORD)%'
    mailer_port: 587
    mailer_encryption: tls
    secret: ThisTokenIsNotSoSecretChangeIt
    aws_access_key_id: %env(AWS_ACCESS_KEY)%
    aws_secret_access_key: %env(AWS_SECRET_KEY)%
    aws_s3_region: eu-central-1
    aws_s3_bucket_name: files-testing.bmstaging.info