security:
    encoders:
        FOS\UserBundle\Model\UserInterface: sha512

    providers:
        our_db_provider:
            entity:
                class: UserBundle:User
                property: id
        basic-auth-provider:
            entity:
                class: UserBundle:User
                property: username
        jwt_provider:
            entity:
                class: UserBundle\Entity\User
                property: username
    firewalls:
        dev:
            pattern:    ^/(_(profiler|wdt)|css|images|js)/
            security:   false

        # tester
        tester_initialize:
            pattern:    ^/api/wsse/initialize
            security:   false
        tester_salt:
            pattern:    ^/api/wsse/salt
            security:   false
        tester_login_app:
            pattern:    ^/api/wsse/login
            security:   false
        tester_vendor_salt:
            pattern:    ^/api/wsse/vendor-app/v[0-9]+/salt
            security:   false
        tester_vendor_login_app:
            pattern:    ^/api/wsse/vendor-app/v[0-9]+/login
            security:   false
        tester_offline_salt:
            pattern:    ^/api/wsse/offline-app/v[0-9]+/salt
            security:   false
        tester_offline_login_app:
            pattern:    ^/api/wsse/offline-app/v[0-9]+/login
            security:   false

        basic_auth:
            pattern: ^/api/basic/
            anonymous: false
            http_basic:
                realm: Secured Areaa
                provider: basic-auth-provider

        jwt_login:
            pattern: ^/api/jwt/(web-app|vendor-app|offline-app)/v[0-9]+/login
            stateless: true
            anonymous: true
            provider: jwt_provider
            json_login:
                check_path: /api/jwt/web-app/v1/login
                failure_handler: lexik_jwt_authentication.handler.authentication_failure

        jwt_salt:
            pattern: ^/api/jwt/(web-app|vendor-app|offline-app)/v[0-9]+/users/salt
            stateless: true
            anonymous: true

        jwt:
            pattern: ^/api/jwt/(web-app|vendor-app|offline-app)/v[0-9]+/
            stateless: true
            anonymous: false
            provider: jwt_provider
            guard:
                authenticators:
                    - lexik_jwt_authentication.jwt_token_authenticator

        #WSSE
        wsse_secured:
            pattern:    ^/api/
            stateless:  true
            wsse:       true
            anonymous:  false
            methods:    [GET, PUT, POST, PATCH, DELETE, OPTIONS]
            provider:   our_db_provider

    access_control:
        # Login
        - { path: ^/login$,    role: IS_AUTHENTICATED_ANONYMOUSLY }
        - { path: ^/register,  role: IS_AUTHENTICATED_ANONYMOUSLY }
        - { path: ^/resetting, role: IS_AUTHENTICATED_ANONYMOUSLY }
        - { path: ^/api/jwt/web-app/v[0-9]+/login,      role: IS_AUTHENTICATED_ANONYMOUSLY }
        - { path: ^/api/jwt/web-app/v[0-9]+/users/salt, role: IS_AUTHENTICATED_ANONYMOUSLY }
        - { path: ^/api/jwt/web-app/v[0-9]+,            role: IS_AUTHENTICATED_FULLY }

    access_decision_manager:
        strategy: unanimous


    role_hierarchy:
        ROLE_REPORTING:               [ROLE_REPORTING_READ, ROLE_REPORTING_WRITE]
        ROLE_PROJECT_MANAGEMENT:      [ROLE_PROJECT_MANAGEMENT_READ, ROLE_PROJECT_MANAGEMENT_WRITE, ROLE_PROJECT_MANAGEMENT_ASSIGN]
        ROLE_BENEFICIARY_MANAGEMENT:  [ROLE_BENEFICIARY_MANAGEMENT_READ, ROLE_BENEFICIARY_MANAGEMENT_WRITE]
        ROLE_USER_MANAGEMENT:         [ROLE_USER_MANAGEMENT_READ, ROLE_USER_MANAGEMENT_WRITE]
        ROLE_AUTHORISE_PAYMENT:       [ROLE_AUTHORISE_PAYMENT]
        # BMS Roles
        ROLE_READ_ONLY:               [ROLE_USER]
        ROLE_FIELD_OFFICER:           [ROLE_USER, ROLE_PROJECT_MANAGEMENT_READ, ROLE_PROJECT_MANAGEMENT_ASSIGN, ROLE_REPORTING_READ, ROLE_BENEFICIARY_MANAGEMENT_READ, ROLE_DISTRIBUTION_CREATE]
        ROLE_PROJECT_OFFICER:         [ROLE_USER, ROLE_PROJECT_MANAGEMENT_READ, ROLE_PROJECT_MANAGEMENT_ASSIGN, ROLE_REPORTING, ROLE_BENEFICIARY_MANAGEMENT, ROLE_DISTRIBUTION_CREATE]
        ROLE_PROJECT_MANAGER:         [ROLE_USER, ROLE_DISTRIBUTIONS_DIRECTOR, ROLE_PROJECT_MANAGEMENT, ROLE_REPORTING, ROLE_BENEFICIARY_MANAGEMENT, ROLE_AUTHORISE_PAYMENT, ROLE_USER_MANAGEMENT, ROLE_DISTRIBUTION_CREATE]
        ROLE_COUNTRY_MANAGER:         [ROLE_USER, ROLE_REPORTING_COUNTRY, ROLE_USER_MANAGEMENT, ROLE_PROJECT_MANAGEMENT, ROLE_REPORTING, ROLE_BENEFICIARY_MANAGEMENT_READ, ROLE_AUTHORISE_PAYMENT]
        ROLE_REGIONAL_MANAGER:        [ROLE_USER, ROLE_REPORTING_COUNTRY, ROLE_PROJECT_MANAGEMENT_READ, ROLE_REPORTING_READ, ROLE_BENEFICIARY_MANAGEMENT_READ]
        ROLE_ADMIN:                   [ROLE_VENDOR, ROLE_READ_ONLY, ROLE_FIELD_OFFICER, ROLE_PROJECT_OFFICER, ROLE_PROJECT_MANAGER, ROLE_COUNTRY_MANAGER, ROLE_REGIONAL_MANAGER]
        ROLE_VENDOR:                  [ROLE_USER]
        ROLE_ENUMERATOR:              [ROLE_USER, ROLE_PROJECT_MANAGEMENT_READ, ROLE_PROJECT_MANAGEMENT_ASSIGN, ROLE_BENEFICIARY_MANAGEMENT_READ]
