services:


#######################################################################################
##                                       CRUD                                        ##
#######################################################################################

    voucher.vendor_service:
        class: VoucherBundle\Utils\VendorService
        arguments: ['@doctrine.orm.entity_manager', '@validator', '@service_container']
        public: true

    voucher.booklet_service:
        class: VoucherBundle\Utils\BookletService
        arguments: ['@doctrine.orm.entity_manager', '@validator', '@service_container']
        public: true

    voucher.voucher_service:
        class: VoucherBundle\Utils\VoucherService
        arguments: ['@doctrine.orm.entity_manager', '@validator', '@service_container']
        public: true

    voucher.product_service:
        class: VoucherBundle\Utils\ProductService
        arguments: ['@doctrine.orm.entity_manager', '@validator', '@service_container']
        public: true

    common.upload_service:
        class: CommonBundle\Utils\UploadService
        arguments: ['%aws_access_key_id%', '%aws_secret_access_key%', '%aws_s3_region%', '@service_container' ]
        public: true