---
kind: ConfigMap
apiVersion: v1
metadata:
  name: {{ k8s_name }}-parameters-config-{{ stage }}
data:
  parameters.yml: |
    parameters:
        database_driver: pdo_mysql
        database_host: '{{ db_host }}'
        database_port: '{{ db_port }}'
        database_name: '{{ db_name }}'
        database_user: '{{ db_user }}'
        database_password: '{{ db_pass }}'

        mailer_transport: smtp
        mailer_host: {{ mail_server }}
        mailer_user: {{ mail_user }}
        mailer_password: {{ mail_pass }}
        mailer_port: {{ mail_port }}
        mailer_encryption: {{ mail_encryption }}

        secret: ThisTokenIsNotSoSecretChangeIt
        aws_access_key_id: ""
        aws_secret_access_key: ""
        aws_s3_region: eu-central-1
        aws_s3_bucket_name: files-testing.bmstaging.info
