---

apiVersion: v1
kind: PersistentVolume
metadata:
  name: 'pv-{{ k8s_name }}-{{ stage }}'
  labels:
    app: 'pv-{{ k8s_name }}-{{ stage }}'
spec:
  capacity:
    storage: 2Gi
  accessModes:
    - ReadWriteMany
  storageClassName: ""
  nfs:
    server: '10.10.10.26'
    path: '/volume1/export/{{ stage }}/{{ project_id }}'

---

apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: 'pvc-{{ k8s_name }}-{{ stage }}'
spec:
  selector:
    matchLabels:
      app: 'pv-{{ k8s_name }}-{{ stage }}'
  accessModes:
    - ReadWriteMany
  storageClassName: ''
  resources:
    requests:
      storage: 2Gi
