<!DOCTYPE html>
<html>
    <head>
        <style>
            td, th {
                margin-right: 10px;
            }
        </style>
    </head>
    <body>
        <h1>Vouchers codes</h1>
        <table>
            <tr>
                <th>Booklet's code</th>
                <th>Voucher's code</th>
            </tr>
            
                <tr>
                    <td>Code</td>
                    <td>Voucher</td>
                </tr>
                <tr>
                    <td>Code</td>
                    <td>Voucher</td>
                </tr>
                <tr>
                    <td>Code</td>
                    <td>Voucher</td>
                </tr>
        </table>
    </body>
</html>