#doctrine:
#    orm:
#        metadata_cache_driver: apc
#        result_cache_driver: apc
#        query_cache_driver: apc

monolog:
    channels: [ 'exception', 'mobile', 'import' ]
    handlers:
        main:
            type: fingers_crossed
            action_level: error
            handler: nested
        nested:
            type: stream
            path: '%kernel.logs_dir%/%kernel.environment%.log'
            level: debug
        console:
            type: console
            process_psr_3_messages: false
        graylog:
            type: service
            id: monolog.gelf_handler
            level: notice
            channels: ['!event', '!doctrine', '!console']
        import:
            type: stream
            path: '%kernel.logs_dir%/imports.log'
            level: info
            channels: [ import ]


nelmio_cors:
    defaults:
        allow_origin: ['https://pin.humansis.org', 'https://prod-pin.humansis.org']
